
html {
    background-image: url(imagenes/ofice.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header img {
    width: 40px;
    height: 41px;
    border-radius: 50%;
    top: 15px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    border: 2px solid rgba(255, 255, 255);
}

header h1{
    text-align: center;
    color: rgba(255, 255, 255);
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 5px;
}
header h3 {
    text-align: left;
    margin: 25px 0 0 57px;
    font-size: 15px;
    font-family: 'Georgia', serif;
    color: rgba(255, 255, 255, 0.8);
    
}

header h2 {
    text-align: center;
    color: rgba(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}   

.Games {
    background-color: rgba(84, 84, 84, 0.75);
    text-align: center;
}

.Games img{
    margin: 15px 5px 5px 5px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    border: 2px solid black;
}

main {
    background-color: rgba(84, 84, 84, 0.75);
}

main h3 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

article img {
    width: 150px;
    height: 150px;
    margin: 15px 15px 15px 15px;
    padding-bottom: 10px;
}

p {
    color: rgba(255, 255, 255, 0.8);
    margin: 5px 30px 5px 30px;
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:gray;
}

ul {
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 10px;
    text-align: center;
    list-style-type: disc;
    display: inline-block;
}

footer {
    color: rgba(255, 255, 255, 0.8);
    margin: 15px 0 15px 20px;
}